<!DOCTYPE html>
<html>
  <head>
    <title>Welcome Page</title>
    <link 
      rel="stylesheet" 
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" 
      crossorigin="anonymous">
    <meta charset='utf-8'>
  </head>
  <body>
  <h1>Welcome to our MadLibs Website!</h1>
  <h2>Please select which MadLib you would like to do:</h2>
  <ul>
  <li><a href="/moon">Moon Theme</a></li>
  <li><a href="/mars">Mars Theme</a></li>
  <li><a href="/pluto">Pluto Theme</a></li>
  </ul>
  </body>
